## Descriptive Statistics

 Import **NumPy**, **SciPy**, and **Pandas**

In [118]:
import numpy as np
from scipy import stats
import pandas as pd
import random

In [69]:
import numpy as np
from scipy.stats import kurtosis, skew

 Randomly generate 1,000 samples from the normal distribution using `np.random.normal()`(mean = 100, standard deviation = 15)

In [72]:
random_number = np.random.normal(loc=100 ,scale=15 , size=1000)

In [85]:
samples = np.random.choice(random_number, 100)
samples

array([ 95.63615391,  94.24923118, 101.415825  , 111.16166433,
       120.3057377 ,  97.66334631,  93.80372645, 112.48185904,
        91.38135702, 128.87107391, 101.21736999, 107.49573645,
       104.47786186, 108.97511282, 100.97826665,  76.03874121,
       109.70674155, 113.36326385, 101.27136191,  75.14719922,
       112.59413548,  97.99537748,  83.77323018, 110.5577094 ,
        77.96343318,  81.90180855, 105.06048349, 117.7933749 ,
       103.17511654, 103.44436237,  96.6604578 , 105.17410545,
       134.2839565 ,  78.6918873 ,  92.05586981, 110.07768163,
        99.03020781,  83.70178137, 104.83350975, 106.47515227,
        94.08202026, 101.85885072,  73.21061008, 109.23681217,
        85.79007145, 122.4058634 , 115.2039109 ,  77.06660789,
        95.81669634,  99.88894129, 100.25324547,  79.27496707,
       106.80006341,  97.71882149, 124.43853842, 111.50840544,
       112.56309687,  92.71111382, 104.42180354, 101.17281891,
        97.63500909, 104.59909754,  90.87400326,  76.91469097,
        94.93196325, 100.52726695, 119.66350676, 107.63180046,
       109.25539733,  90.48369223, 132.25137252,  78.58734063,
       115.74130634, 105.8833892 , 105.74323988,  96.02978299,
        95.81669634,  92.40710523,  99.1529711 , 107.02933932,
       104.59909754,  95.41499339,  94.32895271, 112.75038213,
       120.73992673,  86.17350335, 117.53618686, 105.07545249,
        84.17040289, 126.06460878, 109.67521293,  99.40197235,
       109.51427377, 109.36553959,  79.1649331 , 131.86455606,
       109.51427377, 101.74636836, 108.58654068,  88.31999106])

Compute the **mean**, **median**, and **mode**

In [ ]:
mean = 100.28105632501875
median = 100.19732963244908
mode = 47.3616838

In [75]:
np.mean(random_number)

100.28105632501875

In [76]:
np.median(random_number)

100.19732963244908

In [77]:
stats.mode(random_number)

ModeResult(mode=array([47.3616838]), count=array([1]))

In [86]:
np.mean(samples)

101.71474670517507

In [87]:
np.median(samples)

101.8026095411243

In [88]:
stats.mode(samples)

ModeResult(mode=array([95.81669634]), count=array([2]))

Compute the **min**, **max**, **Q1**, **Q3**, and **interquartile range**

In [49]:
cc = [8, 10, 4, 24, 8, 3, 10, 3, 40, 7, 6, 12, 4]

In [ ]:
min = 3
max = 40
q1 = 4
q3 = 10
iqr = 6

In [50]:
np.max(cc)

40

In [51]:
np.min(cc)

3

In [94]:
q3= np.percentile(cc, 75)
q3

10.0

In [96]:
q1 = np.percentile(cc, 25)
q1

4.0

In [97]:
stats.iqr(cc)

6.0

Compute the **variance** and **standard deviation**

In [ ]:
variance = 
std_dev =

In [92]:
np.var(cc)

99.7514792899408

In [91]:
np.std(cc)

9.987566234570902

Compute the **skewness** and **kurtosis**

In [ ]:
skewness =
kurtosis =

In [102]:
stats.skew(cc)

1.9943064257935783

In [103]:
stats.kurtosis(cc)

3.0371644096422052

## NumPy Correlation Calculation

Create an array x of integers between 10 (inclusive) and 20 (exclusive). Use `np.arange()`

In [18]:
x = np.arange(10,20)
x

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19])

Then use `np.array()` to create a second array y containing 10 arbitrary integers.

In [106]:
y = np.array([2, 1, 4, 7, 8, 13, 18, 25, 66, 44])
y

array([ 2,  1,  4,  7,  8, 13, 18, 25, 66, 44])

Once you have two arrays of the same length, you can compute the **correlation coefficient** between x and y

In [107]:
r = np.corrcoef(x, y)
r

array([[1.        , 0.84848139],
       [0.84848139, 1.        ]])

## Pandas Correlation Calculation

Run the code below

In [121]:
x = pd.Series(range(10, 20))
y = pd.Series([2, 1, 4, 5, 8, 12, 18, 25, 96, 48])

In [37]:
x

0    10
1    11
2    12
3    13
4    14
5    15
6    16
7    17
8    18
9    19
dtype: int64

In [38]:
y

0     2
1     1
2     4
3     5
4     8
5    12
6    18
7    25
8    96
9    48
dtype: int64

Call the relevant method  to calculate Pearson's r correlation.

In [123]:
x.corr(y)

0.7586402890911867

In [124]:
y.corr(x)

0.7586402890911869

OPTIONAL. Call the relevant method to calculate Spearman's rho correlation.

In [ ]:
rho =

In [126]:
rho = x.corr(y, method='spearman')
rho

0.9757575757575757

## Seaborn Dataset Tips

Import Seaborn Library

In [29]:
import  seaborn as sns

Load "tips" dataset from Seaborn

In [31]:
tips = sns.load_dataset("tips")
tips

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

Generate descriptive statistics include those that summarize the central tendency, dispersion

In [32]:
tips.describe()

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

In [33]:
tips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.4 KB

Call the relevant method to calculate pairwise Pearson's r correlation of columns

In [128]:
tips.corr().loc['total_bill', 'size']

0.5983151309049014

In [34]:
tips.corr()

            total_bill       tip      size
total_bill    1.000000  0.675734  0.598315
tip           0.675734  1.000000  0.489299
size          0.598315  0.489299  1.000000